html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #05052c;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes the full height of the viewport */
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

p, h1, h2, h3, h4 {
    color: white;
    padding-top: 20px;
}

#root {
    height: 100%;
}

.footerdiv {
    bottom: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the app takes the full height of the viewport */
}

.main-content {
    flex: 1;
}