.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px #453;
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.product h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product p {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}

.product .variants {
  margin-top: 10px;
}

.product select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}