/* src/App.css */
.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    border-radius: 20px;
  }
  
  .productCart {
    border: 1px solid #1b6c8a;
    width: 200px;
    text-align: center;
    box-shadow: 0 8px 16px #1b6c8a;
    background-color: #1b6c8a;
    border-radius: 20px;
  }
  
  .productCart img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .productCart h2 {
    font-size: 1.2em;
  }
  
  .productCart p {
    font-size: 1em;
  }
  
  